.card{
    height: 55vh;
    width: 40vw;
    margin: auto;
    margin-top: 10vh; 
    border-radius: 10px;
    box-shadow: 1px 1px 27px gray;
    background-image: linear-gradient(rgb(27, 16, 143),rgb(131, 51, 134));
}
.form{
    margin-top: 5%;
    margin-left: 20%;
    font-size: 20px;
    font-weight: 600;
}

h1{
    text-align: center;
}
input{
    width:50%;
    padding: 5px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
}
#email, #phone{
    margin-left: 5%;
}
button{
    margin-left: 22%;
    margin-top: 6%;
    width: 24%;
    cursor: pointer;
    border: none;
    font-size: 25px;
    border-radius: 20px;
}
button:hover{
    background-color:rgb(7, 123, 129);
}

p{
    margin-top: 5%;
    margin-left: 20%;
}
/* a{
    color: rgb(243, 238, 238);
    text-decoration: none;
} */
